@page "/auth/logout"
@layout AuthLayout

<div class="text-center">
    <div class="spinner-border text-primary mb-5" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h1 class="text-dark fw-bolder mb-3">Đang đăng xuất...</h1>
    <div class="text-gray-500 fw-semibold fs-6">Vui lòng đợi trong giây lát</div>
</div>


